body{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
}
   .environment{
       display: flex;
       height: auto;
       width: 40%;
       padding: 5%;
       border: 2px solid;
       justify-content: center;
       background-image: radial-gradient(blue,purple);
       display: flex;
       align-content: center;
   }
   .board{
       background-color: red;
       padding: 15px;
       margin: 10px;

   }
   
   .cell{
       height: 60px;
       width: 60px;
       float: left;
       margin: 1px;
       background-color: wheat;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;  

   }
   .show-result {
       display: flex;
       align-items: center;
       align-content: center;
   }
